body {

  background: linear-gradient(to right, rgb(175, 184, 14), rgb(200, 16, 60));
}

.heading {
  text-align: center;
}

.form {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.submit {
  display: flex;
  flex-direction: column;
  width: 120px;
}